<p style="color: green"><%= notice %></p>

<h1>Forums</h1>

<div id="forums">
  <div class="forum_item">
      <% @forums.each do |forum| %>
        <%= render forum %>
        <p>
          <%= link_to "Show this forum", forum %>
        </p>
      <% end %>
  </div>
</div>

<%= link_to "New forum", new_forum_path %>
